<h1>About us</h1>
<p>Ever had some extremly niche needs, and just couldnt find the products you wanted.

Well look no further. We have some super weird stuff to fit all of your niche needs. Check out our stuff!</p>
